{% load static %}
<!DOCTYPE html>
<html>
<head>
  <script defer src="{% static 'core/app.js' %}"></script>
</head>
<body>
  <h1>Django + Vanilla JS</h1>
  <button id="btn">Fetch</button>
  <pre id="out"></pre>
  <br>
  <label for = "username">Username</label><br>
  <input id = "username" name = "username" type="text" placeholder="Your Name">
  <input id = "tag" name = "tag" type="text" placeholder="NA1">
  <button id="fetch_games_btn">Fetch Games</button>
  <div id = "games_div">
    <pre>Games</pre><br>
    <pre id="out2"></pre>
  </div>
</body>
</html>